{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@app/*": ["./src/app/*"],
      "@infra/*": ["./src/infra/*"],
      "@utils/*": ["./src/utils/*"],
      "@plugins/*": ["./src/infra/plugins/*"],
      "@routing": ["./src/infra/plugins/routes-decorator/index.ts"],
      "@auth": ["./src/infra/plugins/auth/index.ts"]
    }
  },
  "minify": false
}
